.profile {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
    .profile__users {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .profile__arrows_open {
        width: 8px;
        height: 8px;
        border-top: 2px solid rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
        transform: rotate(135deg);
    }
    .profile__arrows_close {
        transform: rotate(-45deg);
    }
    .profile__block {
        width: 134px;
        height: 60px;
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        top: 50px;
        right: -8px;
        .profile__block_arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: rgba(255, 255, 255, 1);
            right: 35px;
            top: -5px;
            transform: rotate(45deg);
        }
        .profile__block_list {
            list-style: none;
            padding: 0;
            margin: 0;
            .profile__block_list_item {
                height: 30px;
                display: flex;
                align-items: center;
                position: relative;
                .profile__block_list_item_link {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 1);
                    font: 400 14px / 100% "Roboto", sans-serif;
                    padding-left: 7px;
                }
            }
            .profile__block_list_item::before {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .profile__block_list_item:hover {
                background-color: rgba(222, 222, 222, 1);
            }
            .profile__block_list_item:first-of-type {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .profile__block_list_item:last-of-type {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

        }
    }
}
.profile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
