$ffamily: 'Roboto', sans-serif;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 1235px;
    height: 700px;
    margin: 0 auto;
    background-color: rgba(0, 121, 191, 1);
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    .header {
        width: 1235px;
        height: 55px;
        background-color: rgba(0, 103, 163, 1);
        display: flex;
        align-items: center;
        .header__section {
            width: 100%;
            margin: 0 19px 0 21px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__title {
                color: rgba(255, 255, 255, 1);
                font: 400 28px / 100% $ffamily;
            }
        }
    }
    .wrapper {
        width: 1235px;
        height: 590px;
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: flex-start;
    }
    .footer {
        width: 1235px;
        height: 55px;
        background-color: rgba(0, 103, 163, 1);
        display: flex;
        align-items: center;
        .footer__section {
            width: 1235px;
            margin: 0 19px 0 21px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .numberTasks {
                display: flex;
                gap: 36px;
            }
            .footer__kanbanName {
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
            }
        }

    }
}

.tasks {
    width: 282px;
    border-radius: 10px;
    background-color: rgba(235, 236, 240, 1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .tasks__title {
        margin: 0;
        font: 400 18px / 100% $ffamily;
        padding: 12px 0 0 12px;
    }
    .tasks__section {
        width: 258px;
        margin: 15px auto 17px;
        .tasks__section_list {
            max-height: 450px;
            overflow-y: auto;
            overflow-x: hidden;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .tasks__section_list_item {
                width: 258px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 5px;
                padding: 7px 0;
                cursor: pointer;
                position: relative;
                .tasks__section_list_item_link {
                    font-size: 18px;
                    padding-left: 8px;
                    padding-right: 9px;

                }
            }
            .tasks__section_list_item::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
            .tasks__section_list_item:hover {
                background-color: rgba(222, 222, 222, 1);
            }
        }
    }
    .tasks__btn {
        margin-left: 11px;
        margin-bottom: 7px;
    }
    .tasks__btn_disabled {
        cursor: not-allowed;
    }
    .tasks__btn_disabled:hover {
        background-color: rgba(222, 222, 222, 1)
    }
    .tasks__btn::first-letter {
        font-size: 22px;
    }
    .tasks__btn_sub {
        margin-left: 11px;
        margin-bottom: 7px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(94, 108, 132, 1);
    }
    .tasks__btn_sub:hover {
        background-color: rgba(0, 121, 191, 1);
        color: rgba(255, 255, 255, 1);
    }
    .tasks__drop {
        width: 258px;
        height: 35px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        cursor: pointer;
        margin: 15px auto 43px;
        position: relative;
    }
}

.detailedTaskPage {
    margin-top: 22px;
}

@media screen and (max-width: 420px) {
    .layout {
        width: auto;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
        .header {
            width: auto;
            height: auto;
            max-width: 380px;
            margin-top: 10px;
            background-color: rgba(0, 121, 191, 1);
            .header__section {
                justify-content: flex-end;
                .header__title {
                    display: none;
                }
            }
            .profile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }
            .profile__block {
                position: relative;
                top: 0;
            }
        }
        .wrapper {
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin-bottom: 91px;
            .tasks {
                margin: 0;
            }
        }
        .footer {
            display: none;
        }
    }

}